<section class="hero">
  <div class="container">
    <div class="row content-row d-flex justify-content-center">
      <div class="col-4 content">
        <h1 id="card-title"><%= @event.title %></h1>
        <p class="subtitle">Please fill in the form below</p>
      </div>
    </div>
  </div>
</section>