<h1>Rhombus</h1>

<a href="/events/new">Create Event</a>


  <% @events.each do |e| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= e.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= e.location %></h6>
        <p class="card-text">Description of this event not yet provided</p>
        <a href="<%= "/" + e.uid %>" class="card-link"><%= e.uid %></a>
      </div>
    </div>











  <% end %>